<div class="row">
    <div class ="col-xs-4">
      <h3>Christianity</h3>
      <blockquote>I grew up Presbyterian, and we would go to church every Christmas day, as well as every easter, where we help set up a easter egg hunt for the lil kiddos.</blockquote>
    </div>
    <div class ="col-xs-4">
      <h3>Islam</h3>
      <blockquote>For Eid, I make cards to distribute and banners and bunting for the house. We put up lights and balloons. We send sweets and a card to each of our children's classes.</blockquote>
      

    </div>
    <div class ="col-xs-4">
      <h3>Judaism</h3>
      <blockquote>My wife's family is Israeli, so for each Jewish holiday, we make them say all the hard prayers. They do it real quick!</blockquote>
      <blockquote> Each winter, my parents never wanted me to put up lights for Hanukkah because it felt too conformist. But it's the festival of lights! So now that I'm grown, we do.</blockquote>
      <blockquote>I'm pretty sure that every single Jewish holiday has basically become an excuse to eat chicken soup and brisket. I don't complain. :)</blockquote>
      <blockquote>For Passover, every year we make chocolate matzo cake and then read the Haggadah as a family. My dad reads through it very quickly so that we can get to the food.</blockquote>
    </div>
  </div>