<div class="row">
    <div class ="col-xs-4">
      <h3>Christianity</h3>
      <blockquote>I grew up Presbyterian, and we would go to church every Christmas day, as well as every easter, where we help set up a easter egg hunt for the lil kiddos.</blockquote>
      <blockquote>For Christmas, I always read 'A Christmas Carol' (of course) 'Treasures of the Snow', and 'Mr. Willoughby's Christmas Tree.' </blockquote>
      <blockquote>I'm Orthodox Christian, so for Easter we dye eggs red. One year when I was little my friends and I got into an egg fight on the front lawn... My mother was pretty unhappy. </blockquote>
      <blockquote>We open presents on Christmas, like most other families I know, but it's not really a big deal for us. </blockquote>
    </div>
    <div class ="col-xs-4">
      <h3>Islam</h3>
      <blockquote>On eid-al-fitr we gather to pray and eat food together. I like that everyone gets new clothes and dresses their best. </blockquote>
    </div>
    <div class ="col-xs-4">
      <h3>Judaism</h3>
      <blockquote>My wife's family is Israeli, so for each Jewish holiday, we make them say all the hard prayers. They do it real quick!</blockquote>
    </div>
  </div>