<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <%= render 'form'%>
  </div>
</div>



<div class ="container main-body">
  <div >
    <div class="jumbotron">
      <div class="container">
        <h1>Our Religious Traditions</h1>
        <h2>Learn and share religious traditions around the world</h2>
      </div>
    </div>

  </div>

 <%= render  'posts/'+@test %>

 



</div>


