@import "bootstrap";
.btn-black {
  color:#000;
  background-color: #FFE5B4;
  &:hover,
  &:focus{
    color: #fb5;
  }
}

.post-text{
  font-size:25px;
  line-height: 1.2;
}
div {
  margin-top:10px;

}

