@import "bootstrap";
.btn-black {
  color:#000;
  background-color: #FFE5B4;
  &:hover,
  &:focus{
    color: #fb5;
  }
}

.post-text{
  font-size:25px;
  line-height: 1.2;
}
div {
  margin-top:5px;

}

.jumbotron{
	padding:0;
	margin:0;
	background-color:#ADD8E6;

}
.jumbotron h1{
	font-size:50px;
}
.jumbotron h2{
	font-size:20px;
}